/* MAIN STYLE */

/*
COLOR SCHEME

#041562 // DARK BLUE
#11468F // BLUE
#DA1212 // RED
#EEEEEE // WHITE

*/

html {
  background-color: #041562;
  margin-bottom: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: #EEEEEE;
  scroll-behavior: smooth;
}

body {
  background-color: #041562;
}

#root {
  margin: 0 auto;

}

html,
body,
#root {
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;



  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}





a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

/* inline text component styles */
p,
li {
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 1rem 0;
  font-size: clamp(1.3125rem,
      2.25vw + 0.75rem,
      2rem);

}




h1 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: clamp(3rem, 6vw + 1.5rem, 6rem);

}

h2 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: clamp(2.625rem, 5.25vw + 1.5rem, 5.25rem);
  /* 1.75*1.5, 3.5*1.5, 3.5*1.5 */
}

h3 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: clamp(2.25rem, 4.5vw + 1.2rem, 4.5rem);
  /* 1.5*1.5, 3*1.5, 3*1.5 */
}

h4 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: clamp(1.875rem, 3.75vw + 0.75rem, 3.75rem);
  /* 1.25*1.5, 2.5*1.5, 2.5*1.5 */
}

h5 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: clamp(1.5rem, 3vw + 0.75rem, 3rem);
  /* 1*1.5, 2*1.5, 2*1.5 */
}

h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: clamp(1.3125rem, 2.25vw + 0.75rem, 2.25rem);
  /* 0.875*1.5, 1.5*1.5, 1.5*1.5 */
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

  a:hover {
    color: #747bff;
  }
}